<div>
  <button (click)="createNewProduct()" href="">Create Product</button>
</div>
<div class="products--grid">
  <app-product
    *ngFor="let product of products"
    [product]="product"
    (addedProduct)="onAddToShoppingCart($event)"
    (showDetailProduct)="onShowDetailsProduct($event)"
  ></app-product>
  <button (click)="loadMore()">Load More</button>
</div>
<div
  class="product-detail"
  *ngIf="productChosen"
  [class.active]="showProductDetail"
>
  <button class="close" (click)="toggleProductDetail()">
    <img class="" src="./assets/svg/close-icon.svg" alt="Close icon" />
  </button>

  <swiper class="product-image" [slidesPerView]="1">
    <ng-template *ngFor="let image of productChosen.images" swiperSlide>
      <img class="product-image" [src]="image" [alt]="productChosen.title" />
    </ng-template>
  </swiper>

  <div class="product-info">
    <h1 class="product-title">{{ productChosen.title }}</h1>
    <p class="product-description">{{ productChosen.description }}</p>
    <p>
      <strong>{{ productChosen.price | currency : "$ " }}</strong>
    </p>
    <button (click)="updateProduct()" href="">Update Product</button>
    <button (click)="deleteProduct()" href="">Delete Product</button>
  </div>
</div>
